header {
  height: 30vh;
  width: 100%;
  background: url(pictures/pipeline-cropped.JPG);
  background-size: 100vw auto;
  background-position: left top;
  position: relative;
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  overflow: auto;
  height: auto;
  position: sticky;
  position: -webkit-sticky;
}

.name {
  padding-left: 2vw;
}

.left-links {
  flex:1 1 200px;

}

.links {
  display: inline-block;
  text-align: center;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

nav text {
  display: inline-block;
  text-align: center;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

nav a:hover {
  font-weight: bold;
}

body {
  margin: 0;
}

.about {
  display: grid;
  grid-template-columns: 35vw 35vw;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.blurb {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 2.5vw
}

.blurb p {
  margin-bottom: 5vh;
}

.portrait {
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 35vw;
  padding: 2.5vw
}

.portrait img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.contact {
  margin-bottom: 1vh;
}

.post {
  display: grid;
  grid-template-columns: 50vw 30vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: center;
}

.post-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5vw;
}https://www.birds.eecs.umich.edu/

.post-body {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 15px;
  margin-right: 5vh;
}

.post-photo {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 30vw;
}

footer {
  width: 100vw;
  background-color: black;
  height: 10vh;
}

