header {
  height: 30vh;
  width: 100%;
  background: url(pictures/pipeline-cropped.JPG);
  background-size: 100vw auto;
  background-position: left top;
  position: relative;
  margin: 0;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  overflow: auto;
  height: auto;
  position: sticky;
  position: -webkit-sticky;
}

.left-links {
  flex:1 1 200px;
}

.right-links {
  display: flex;
  align-items: center;
  justify-content: center;
}


.links {
  display: inline-block;
  text-align: center;
  padding: 14px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

nav text {
  display: inline-block;
  text-align: center;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

nav a:hover {
  font-weight: bold;
}

body {
  margin: 0;
}

.about {
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.row {
  display: table;
}

.column {
  float: left;
}